/* app.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.app-container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  font-family: "Inter", sans-serif;
}

@media (max-width: 768px) {
  .app-container {
    display: block;
  }
}
