/* app.css */
/* Montserrat */

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin/montserrat-v31-latin-300.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin/montserrat-v31-latin-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin/montserrat-v31-latin-500.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin/montserrat-v31-latin-600.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin/montserrat-v31-latin-700.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat-v31-latin/montserrat-v31-latin-800.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

/* Poppins */

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin/poppins-v24-latin-300.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin/poppins-v24-latin-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin/poppins-v24-latin-500.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin/poppins-v24-latin-600.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-v24-latin/poppins-v24-latin-700.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

.app-container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  font-family: "Inter", sans-serif;
}

@media (max-width: 768px) {
  .app-container {
    display: block;
    overflow-y: auto;
  }
}
