@import "./theme.css";

.multi-wrapper {
  color: var(--text-color);
  padding: 2.5%; /* Retain 2.5% padding */
  display: flex;
  flex-direction: column;
  overflow-y: scroll; /* Enable vertical scrolling */
  height: 100vh; /* Full viewport height */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.multi-sticky-title {
  position: sticky;
  top: 0;
  font-size: 36px;
  color: var(--primary);
  font-weight: bold;
  background-color: var(--background-light);
  padding: 10px 0;
  z-index: 10;
}

.multi-topics-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.multi-topic-section {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 40px);
  gap: 2%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  margin-bottom: 20px;
}

.multi-topic-content {
  padding: 1%;
  margin-top: 2.5%;
  background-color: var(--background-light);
  flex: 0 0 45%;
  border-radius: 3%;
}

.multi-topic-title {
  font-size: 28px;
  color: var(--secondary);
  font-weight: bold;
  margin-bottom: 15px;
}

.multi-topic-description {
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  padding: 1%;
}

.multi-video-wrapper {
  flex: 0 0 55%; /* Take 55% of the width */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5%;
}
.multi-content-section {
}

.content-list-title {
  font-size: 24px;
  color: var(--primary);
  width: 100%;
  font-weight: bold;
}
.content-title {
  font-size: 24px;
  color: var(--primary);
  width: 100%;
  font-weight: bold;
}
