.sidebar {
  background-color: var(--background);
  color: var(--primary);
  transition: width 0.35s ease;
  display: flex;
  height: 100%;
  overflow-y: auto;
  flex-direction: column;
  width: 25rem;
  flex-shrink: 0;
  overflow: hidden;
}

.sidebar.closed {
  width: 5rem; /* 5rem = 80px */
}

/* Sidebar header */
.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* Sidebar title */
.sidebar-title {
  margin-right: auto;
  font-size: 1.2rem;
  transition: opacity 0.3s ease;
}

/* Toggle Button */
.toggle-btn {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  padding: 0;
}

/* Placeholder icon style */
.icon-placeholder {
  font-size: 1.5rem;
}

/* Navigation Links */
.nav-links {
  flex: 1;
}

.sub-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}
.sub-menu > * {
  background-color: var(--background-light);
}

.sub-menu.open {
  max-height: 1000px;
  opacity: 1;
}

.menu-item.Wborder {
  border-right: #2a5c91 solid 3px;
}

.menu-title {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.6rem;
  transition: padding 0.15s ease;
  border-radius: 2%;
  align-items: center;
}

.menu-title:hover {
  background-color: #333;
  padding: 0.75rem;
  transition: padding 0.15s ease;
}
.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
}

.menu-title,
.fundamentals-item,
.sidebar-title,
.profile-info,
.profile-pic {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}

.fundamentals-item {
  border-radius: 7px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--secondary);
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.fundamentals-item:hover {
  background-color: var(--background);
  color: var(--text-color-lightblue);
  transition: background-color 0.3s ease;
}

/* Profile Section */
.profile-section {
  padding: 0.5rem;
  border-top: 1px solid #333;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Profile picture */
.profile-pic {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

/* Profile information */
.profile-info {
  display: flex;
  flex-direction: column;
}

.icon-container {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  gap: 10px; /* Optional: adds space between icons */
}

/* phone version ----------------------------------------------------------------------------- */
@media (max-width: 4000px) {
  .nav-links li {
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
}
@media (max-width: 2000px) {
  .sidebar {
    width: 20rem;
  }
  .fundamentals-item {
    height: 90px;
  }
  .nav-links li {
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
  .menu-title {
    font-size: 1rem;
  }

  .menu-title:hover {
    padding: 0.75rem;
  }
  .sub-menu {
    gap: 7px;
    margin-top: 5px;
    font-size: 0.9rem;
  }
  .search-input {
    padding: 0.1rem;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100%; */
    transition: height 0.8s ease;
  }

  .sidebar.closed {
    width: 100%;
    height: 6%;
    transition: height 0.8s ease;
  }

  .toggle-btn2 h3 {
    text-transform: capitalize;
  }

  /* skupni začetni stil */
  /* privzeto: ko sidebar zaprt */
  .sidebar.closed .search-container,
  .sidebar.closed .nav-links,
  .sidebar.closed .profile-section {
    opacity: 0;
    /* transition: opacity 3s ease; */
  }

  /* ko je sidebar odprt */
  .sidebar.open .search-container,
  .sidebar.open .nav-links,
  .sidebar.open .profile-section {
    opacity: 1;
  }
}

.opacity0 {
  opacity: 0;
}
.opacity1 {
  opacity: 1;
}

.mobile-content {
  padding: 10px;
}

.mobile-submenu-content,
.mobile-welcome-message {
  text-align: center;
}

.mobile-submenu-content h3,
.mobile-welcome-message h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.mobile-welcome-message p {
  font-size: 1em;
  color: #777;
}

.sidebar.closed .menu-title {
  justify-content: center;
}
