:root {
  --primary: #3498db;
  --secondary: ;
  --background: #121212ef;
  --background-light: #1e1e1e;
  --text-color: #bcc4c6e6;
  --text-color-light: #e9e9e9;
}

/* Text colors */
.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}
.text-base {
  color: var(--text-color);
}
.text-light {
  color: var(--text-color-light);
}

/* Background colors */
.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-dark {
  background-color: var(--background);
}
.bg-light {
  background-color: var(--background-light);
}

/* Border colors */
.border-primary {
  border-color: var(--primary);
}
.border-secondary {
  border-color: var(--secondary);
}
.border-dark {
  border-color: var(--background);
}
.border-light {
  border-color: var(--background-light);
}
